body {
  --beige: #E6E0D6;
  --dark-brown: #816D4F;
  --light-brown: #B29463;
  font-family: 'Barlow', sans-serif;
  height: 4000px;
}

input[type=checkbox] {
  border: 2px solid var(--light-brown);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--light-brown);
  border-color: var(--light-brown);
  box-shadow: none;
  outline: none;
}

.banner-1 {
  background-image: url(./assets/banner-1.png);
}

.banners {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banners-title {
  --bs-bg-opacity: .2;
}

.banner-2 {
  background-image: url(./assets/banner-2.png);
}

.banner-3 {
  background-image: url(./assets/banner-3.png);
}

.banners {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banners-title {
  --bs-bg-opacity: .2;
}

.standard-button {
  background-color: var(--light-brown);
}

.standard-button:hover {
  background-color: var(--dark-brown);
}